.wrapper.style2 {
    background-color: #2364AA;
}

.nav-link{
	color:#FF9000;

}

.content{
    padding : 10px;
    border:5px solid #ff9000;
  
}

.raised{
    
}

.donors{
    
}

.charity{
    padding:0px !important;
}

.charity-content{
    padding:0px;
}
							