
$primary-color: #FF9000;

.blog-card {
    padding:0;
    margin:0;
    
    &.h3{
        margin:0;
    }
    &.p{
        margin:0;
    }
}

.blog-title{
    margin:0;
}

.blog-text{
    
}

.blog-form{
    color:red;
    
    &:label{
        color:red;
    }
}

.wrapper.style2{
  
}

label{
    color:$primary-color;
}

a > strong {
    color:$primary-color;
}