
thead{
    background-color:#FF9000;
}

.table-bordered {
    border: 1px solid #FF9000;
}

.delete{
    background-color:red;
}

.adminSearch{
    width:100%;
    margin-bottom:10px;
}

.delete-header{
    background-color:red;
    
    h4,h5{
        color:white;
    }
}

label{
    color:#FF9000;
}

input{
    background:#EEEEEE;
}


tr > th{
    color:white;
}

td{
    color:black;
}

.modal-title{
    color:white;
}

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal-header{
    background-color:#FF9000;
}