{% extends 'layouts/blogLayout.html' %} {% block body %}
<!-- Page Wrapper -->

{% include "partials/header.html" %}


<!-- Main -->

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="blog-header">Charity Fundraising Blog</h1>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		{% set length = blogs.length %}
		<div class="col-md-12 main-blog">
			<img src="/images/homeless4.jpg" class="img-responsive" alt="Responsive image">
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			{% for i in range(1, length) %}
			<div class="col-md-6 image">
				<img src="/images/pic03.jpg" class="img-fluid" alt="Responsive image">
				<div class="blog-card">
					<h3 class="blog-title">{{blogs[i].title}}</h3>
					<p class="blog-text">{{blogs[i].content}}</p>
					<p class="blog-link"> <a href="/blog/{{blogs[i].blogId}}">Read More ... </a></p>
				</div>
			</div>
			{% else %}
			<li>This would display if the 'item' collection were empty</li>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}
