{% extends 'layouts/blogLayout.html' %}
{% block body %}
	<!-- Page Wrapper -->
	<div id="page-wrapper">
		<!-- Header -->
			<header id="header" class="alt">
				<title>about</title>
				{% include "partials/header.html" %}
			</header>

			<!-- Main -->
			
			<section class="wrapper style2">
				<div class="inner">
					<div class = "container">
						<div class = "row">
							<div class = "col-md-6">
								{% for blog in blogs %}
							    <div class = "col-md-6 image">
    								<img src="images/pic03.jpg" class="img-fluid" alt="Responsive image">
    								<div class = "blog-card">
        								<h3 class = "blog-title">{{blog.title}}</h3>
        								<p  class = "blog-text">{{blog.content}}</p>
        								<p  class = "blog-link"> <a href ="/blog/{{blog.blogId}}">Read More ... </a></p>
    								</div>
								</div>
								{% else %}
 									 <li>This would display if the 'item' collection were empty</li>
								{% endfor %}
							</div>
						</div>
					</div>
			</section>
		</div>
{% endblock %}